@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lilita+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --red: rgb(239 68 68);
    --orange: rgb(251 146 60);
    --yellow: rgb(252 211 77);
    --green: rgb(163 230 53);
    --blue: rgb(34 211 238);
    --purple: rgb(139 92 246);
  }

  .btn {
    @apply px-4;
    @apply py-1;
    @apply inline-block;
    @apply rounded-md;
    @apply cursor-pointer;
    @apply bg-gray-200;
    @apply hover:bg-gray-300;
    @apply ease-in-out;
    @apply duration-200;
  }
}
