---
import Layout from "../layouts/Layout.astro";
import { ChallengeCard } from "../components/ChallengeCard";
---

<Layout title="Skillaboration!">
  <main class="p-10">
    <section>
      <ChallengeCard client:load />
    </section>
  </main>
</Layout>
