---
import Layout from "../layouts/Layout.astro";
import { ChallengeCard } from "../components/ChallengeCard";
import { HowToPlay } from "../components/HowToPlay";
import data from "../data/skills-challenges.json";

---

<Layout title="Skillaboration!">
  <main>
    <section class="relative">
      <ChallengeCard client:only skills={data["skills"]["general"]} challenges={data["challenges"]["general"]} />
    </section>

    <section
      class="flex justify-center items-center bg-black p-8 md:p-40 min-h-screen"
    >
      <HowToPlay />
    </section>
  </main>
</Layout>
