---
import Layout from "../layouts/Layout.astro";
import { ChallengeCard } from "../components/ChallengeCard";
import { HowToPlay } from "../components/HowToPlay";

const players = [
  "Michael",
  "Brandon",
  "Michelle",
  "Christina",
  "Joann",
  "Andre",
  "Erik",
  "Yvonne",
  "Kylie",
  "Beth",
  "Nick",
  "Todd",
  "Julian",
];

const skills = [
  "a UI",
  "a lofi, UX workflow",
  "a poster",
  "a brand",
  "a clickable front-end",
  "a data visualization",
  "an animatimation",
  "a sticker set",
];

const challenges = [
  "a music company, instrument, or artist",
  "a retail store or travel agency",
  "a restaurant or food item",
  "animals or animal products",
  "a technology company or digital product",
  "a single person or group of people",
  "an event in a specific location",
];
---

<Layout title="Skillaboration!">
  <main class="relative">
    <section class="h-screen relative p-10 min-h-[680px]">
      <ChallengeCard client:only skills={skills} challenges={challenges} />
    </section>

    <section
      class="flex justify-center items-center bg-black h-screen p-40 min-h-[680px]"
    >
      <HowToPlay />
    </section>
  </main>
</Layout>
