---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Skillaboration! Collaborative challenges for creative teams."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		:root {
			--red: rgb(239 68 68);
			--orange: rgb(251 146 60);
			--yellow: rgb(252 211 77);
			--green: rgb(163 230 53);
			--blue: rgb(34 211 238);
			--purple: rgb(139 92 246);
		}
	}
</style>
